.logo {
  display: inline-flex;
  flex: none;
}

.logo img {
  width: 100%;
  height: auto;
}

.onDark {
  display: none;
}

:global(:root[data-theme='dark']) .onLight {
  display: none;
}

:global(:root[data-theme='dark']) .onDark {
  display: block;
}

@media (prefers-color-scheme: dark) {
  :global(:root:not([data-theme='light'])) .onLight {
    display: none;
  }

  :global(:root:not([data-theme='light'])) .onDark {
    display: block;
  }
}
